# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Garlicium Client
Exec=electrum-ltc %u
GenericName[en_US]=Garlicium Wallet
GenericName=Garlicium Wallet
Icon=electrum-ltc
Name[en_US]=Electrum Garlicium Wallet
Name=Electrum Garlicium Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/garlicium;

